{% include base_path %}
{% assign current_lang = page.lang | default: site.default_lang %}
{% assign home_url = current_lang | prepend: '/' | append: '/' %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist {% if page.url == '/' or page.url == '/index.html' or page.url == home_url %}selected{% endif %}">
            <a href="{{ base_path }}{{ home_url }}">{{ site.title }}</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% assign href = link.url %}
            {% else %}
              {% assign domain = base_path %}
              {% assign href = link.url | prepend: current_lang | prepend: '/' %}
            {% endif %}
            {% assign link_label = site.data.nav_text[current_lang].nav[link.key] | default: link.title %}
            <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
              <a href="{{ domain }}{{ href }}">{{ link_label }}</a>
            </li>
          {% endfor %}
          {% include lang-switch.html %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
